Repository henry-prior/jax-rl: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, flake8, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
    - repo: local
      hooks:
        - id: black
          name: black
          entry: black
          language: system
          types: [python]
          require_serial: true
        - id: check-added-large-files
          name: Check for added large files
          entry: check-added-large-files
          language: system
        - id: check-toml
          name: Check Toml
          entry: check-toml
          language: system
          types: [toml]
        - id: end-of-file-fixer
          name: Fix End of Files
          entry: end-of-file-fixer
          language: system
          types: [text]
          stages: [commit, push, manual]
        - id: flake8
          name: flake8
          entry: flake8
          language: system
          types: [python]
          require_serial: true
        - id: reorder-python-imports
          name: Reorder python imports
          entry: reorder-python-imports
          language: system
          types: [python]
          args: [--application-directories=jax_rl]
        - id: trailing-whitespace
          name: Trim Trailing Whitespace
          exclude: .bumpversion.cfg
          entry: trailing-whitespace-fixer
          language: system
          types: [text]
          stages: [commit, push, manual]

refactor model application, add custom training loops
  .gitignore
  jax_rl/MPO.py
  jax_rl/SAC.py
  jax_rl/TD3.py
  jax_rl/buffers.py
  jax_rl/main_dm_control.py
  jax_rl/models.py
  jax_rl/train_loops.py
  jax_rl/utils.py
Due: black, flake8, reorder-python-imports, trailing-whitespace

expand jit usage, improve mpo stability
  jax_rl/MPO.py
  jax_rl/SAC.py
  jax_rl/TD3.py
  jax_rl/buffers.py
  jax_rl/main_dm_control.py
  jax_rl/models.py
  jax_rl/train_loops.py
  jax_rl/utils.py
Due: black, flake8, reorder-python-imports, trailing-whitespace

improve MPO stability (grad clip, fix repeating states)
  jax_rl/MPO.py
  jax_rl/main_dm_control.py
  jax_rl/utils.py
Due: black, flake8, reorder-python-imports, trailing-whitespace

partial jitting in SAC
  jax_rl/SAC.py
Due: black, flake8, reorder-python-imports, trailing-whitespace

optimize and stablilize MPO (passing grad to optimization step, more numerically stable dual)
  .gitignore
  jax_rl/MPO.py
  jax_rl/models.py
  jax_rl/utils.py
Due: black, flake8, reorder-python-imports, trailing-whitespace

Documentation update, add graph to README, refactor training loop
  README.md
  docs/_static/reward_plots.png
  jax_rl/SAC.py
  jax_rl/TD3.py
  jax_rl/buffers.py
  jax_rl/main_dm_control.py
  jax_rl/train_loops.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, flake8, reorder-python-imports, trailing-whitespace

update docs to show speed comparison with PyTorch
  README.md
Due: trailing-whitespace

fix broadcasting in environments with multiple action dims
  jax_rl/SAC.py
  jax_rl/TD3.py
Due: black, flake8, reorder-python-imports, trailing-whitespace

change MPO log likelihood calculation to take pre-squashed actions a la SAC
  jax_rl/MPO.py
  jax_rl/models.py
Due: black, flake8, reorder-python-imports, trailing-whitespace

update docstrings and graph
  README.md
  docs/_static/cartpole_graph.png
  docs/_static/reward_plots.png
  jax_rl/main_dm_control.py
  jax_rl/train_loops.py
  jax_rl/utils.py
Due: black, flake8, reorder-python-imports, trailing-whitespace

Update README.md
  README.md
Due: trailing-whitespace

Update dependencies to support MuJoCo 2.1.0 (open-sourced version)
  README.md
  jax_rl/MPO.py
  jax_rl/SAC.py
  jax_rl/TD3.py
  jax_rl/models.py
  poetry.lock
  pyproject.toml
  tests/test_mpo.py
  tests/test_sac.py
  tests/test_td3.py
Due: black, check-toml, flake8, reorder-python-imports, trailing-whitespace

[Bug] Fix MPO transpose bug and pass seed to agent classes
  jax_rl/MPO.py
  jax_rl/main_dm_control.py
Due: black, flake8, reorder-python-imports, trailing-whitespace

Support OpenAI gym environments
  jax_rl/MPO.py
  jax_rl/SAC.py
  jax_rl/TD3.py
  jax_rl/dm_control_utils.py
  jax_rl/gym_utils.py
  jax_rl/main_gym.py
  jax_rl/models.py
  jax_rl/train_loops.py
  jax_rl/utils.py
  poetry.lock
  pyproject.toml
  tests/test_mpo.py
  tests/test_sac.py
  tests/test_td3.py
Due: black, check-toml, flake8, reorder-python-imports, trailing-whitespace

Upate tests with gym and fix shape error in MPO
  jax_rl/MPO.py
  jax_rl/TD3.py
  jax_rl/gym_utils.py
  jax_rl/main_gym.py
  jax_rl/train_loops.py
  tests/test_mpo.py
  tests/test_sac.py
  tests/test_td3.py
  tests/utils.py
Due: black, flake8, reorder-python-imports, trailing-whitespace

Update README for Gym support
  README.md
Due: trailing-whitespace
